@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Nunito, sans-serif;
  }
}

td:first-child,
th:first-child {
  border-radius: 5px 0 0 5px;
}

td:last-child,
th:last-child {
  border-radius: 0 5px 5px 0;
}
